@media (max-width:600px) {
  .products{
    -webkit-display:inherit;
    display: inherit;
    -webkit-height:auto;
    height: auto;
  }
  .product{
    -webkit-margin-top:auto;
    margin-top: auto;
  }
  .main-seccion{
    padding: 4%;
  }
  .main-seccion .cat{
    margin: auto;
  }
  .benefits{
    display: inherit;
  }
  .recomendations{
    display: inherit;
  }

}