@media (max-width:600px) {
  .content{
    display:inherit;
  }
  .products{
    -webkit-display:inherit;
    display: inherit;
    -webkit-height:auto;
    height: auto;
  }
  .product{
    -webkit-margin-top:auto;
    margin-top: auto;
  }
  .main-seccion{
    display: flex;
    padding: 5%;
    font-size: 12px;
  }
  .main-seccion .cat img{
    margin: auto;
    max-height: 100px;
    max-width: 100px;
    
  }
  .benefits{
    display: inherit;
  }
  .recomendations{
    display: inherit;
  }

}